
h1
{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

body
{
  font-family: 'Montserrat-black', sans-serif;
}

h2
{
  font-family: 'Montserrat-bold';
  line-height: 4rem;
  font-weight: bold;
  font-size: 3.5rem;
}

h3
{
  line-height: 1.5;
  font-weight: bold;
}

p
{
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
}
.centered
{
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.container-fluid
{
  padding: 4% 15% 7%;
}


.icon-4x
{
  font-size: 4rem;
}

.padded
{
  padding-top: 50px;
}
.padded-bot
{
  padding-bottom: 5px;
  color:#ef8172;
}

.padded-bot:hover
{
  color: #ff4c68;
}

/*title section*/

#title
{
  background-color: #ff4c68;
}

.title
{
  color: white;
}

.title-img
{
  transform: rotate(25deg);
  position : absolute;
  width:65%;
  margin-left: 25px;
}

.navbar
{
  padding: 0;
}

.navbar-brand
{
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
}

.nav-item
{
  padding: 0 15px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family:  "Montserrat-Light";
}

/*Feature Section*/
#features
{
  background-color: #fff;
  padding: 3% 7%;
  position: relative;
}
/* Download Buttons */
.download-Button
{
  margin: 15px 10px 15px 0;
}

/*Testimonial section fdsfd*/

#testimonials
{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  position:relative;
  z-index: 2;
}

.carousel-item
{
  padding: 7% 15%;
}

.testimonial-img
{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press
{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img
{
  width:15%;
  margin: 20px 20px 50px;
}

/* PRicing section*/

#pricing
{
  text-align: center;
  padding: 100px;
}

.pricing-colum
{
  padding: 3% 2%;
}

/*CTA section */
#cta
{
  font-family: 'Montserrat-black', sans-serif;
  font-weight: bold;
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-h3
{
  font-size : 4rem;

}

/* Fotter Section*/

#footer
{
  text-align: center;
  padding: 4% 15%  ;
}

.footer-icon
{
  margin: 10px;
}


@media (max-width : 1084px)
{
  .title-img
  {
    transform: rotate(0);
    position: static;
    display: inline-block;
  }

  #title
  {
    text-align: center;
  }
}
